RewriteEngine On

RewriteRule     ^select-user$                   auth_select_user.php                [NC,L]

RewriteRule     ^customer-login$                auth_customer_login.php             [NC,L]
RewriteRule     ^customer-register$             auth_customer_register.php          [NC,L]
RewriteRule     ^customer-forget$               auth_customer_forget.php            [NC,L]
RewriteRule     ^customer-dashboard$            customer_dashboard.php              [NC,L]
RewriteRule     ^customer-profile$              customer_profile.php                [NC,L]

RewriteRule     ^agent-login$                   auth_agent_login.php                [NC,L]
RewriteRule     ^agent-register$                auth_agent_register.php             [NC,L]
RewriteRule     ^agent-forget$                  auth_agent_forget.php               [NC,L]
RewriteRule     ^agent-dashboard$               agent_dashboard.php                 [NC,L]
RewriteRule     ^agent-profile$                 agent_profile.php                   [NC,L]