RewriteEngine On

# -- admin ---    

RewriteRule     ^admin/login$                               ./admin/auth_login.php                                  [NC,L]
RewriteRule     ^admin/logout$                              ./admin/auth_logout.php                                 [NC,L]
RewriteRule     ^admin/profile$                             ./admin/page_profile.php                                [NC,L]
RewriteRule     ^admin/dashboard$                           ./admin/page_dashboard.php                              [NC,L]
RewriteRule     ^admin/setting$                             ./admin/page_setting.php                                [NC,L]
RewriteRule     ^admin/properties$                          ./admin/page_properties.php                             [NC,L]
RewriteRule     ^admin/orders$                              ./admin/page_orders.php                                 [NC,L]

RewriteRule     ^admin/customers$                           ./admin/page_customers.php                              [NC,L]
RewriteRule     ^admin/agents$                              ./admin/page_agents.php                                 [NC,L]

RewriteRule     ^admin/messages$                            ./admin/page_messages.php                               [NC,L]
RewriteRule     ^admin/message/([0-9]+)$                    ./admin/page_message.php?message_id=$1                  [NC,L]

RewriteRule     ^admin/packages$                            ./admin/page_packages.php                               [NC,L]
RewriteRule     ^admin/package-add$                         ./admin/page_package_add.php                            [NC,L]
RewriteRule     ^admin/package-edit/([0-9]+)$               ./admin/page_package_edit.php?id=$1                     [NC,L]
RewriteRule     ^admin/package-delete/([0-9]+)$             ./admin/page_package_delete.php?id=$1                   [NC,L]

RewriteRule     ^admin/locations$                           ./admin/page_locations.php                              [NC,L]
RewriteRule     ^admin/location-add$                        ./admin/page_location_add.php                           [NC,L]
RewriteRule     ^admin/location-edit/([0-9]+)$              ./admin/page_location_edit.php?id=$1                    [NC,L]

RewriteRule     ^admin/types$                               ./admin/page_types.php                                  [NC,L]
RewriteRule     ^admin/type-add$                            ./admin/page_type_add.php                               [NC,L]
RewriteRule     ^admin/type-edit/([0-9]+)$                  ./admin/page_type_edit.php?id=$1                        [NC,L]

RewriteRule     ^admin/amenities$                           ./admin/page_amenities.php                              [NC,L]
RewriteRule     ^admin/amenity-add$                         ./admin/page_amenity_add.php                            [NC,L]
RewriteRule     ^admin/amenity-edit/([0-9]+)$               ./admin/page_amenity_edit.php?amenity_id=$1             [NC,L]
RewriteRule     ^admin/amenity-delete/([0-9]+)$             ./admin/page_amenity_delete.php?amenity_id=$1           [NC,L]

RewriteRule     ^admin/why-choose$                          ./admin/page_why_choose.php                             [NC,L]
RewriteRule     ^admin/why-choose-add$                      ./admin/page_why_choose_add.php                         [NC,L]
RewriteRule     ^admin/why-choose-edit/([0-9]+)$            ./admin/page_why_choose_edit.php?why_choose_id=$1       [NC,L]

RewriteRule     ^admin/testimonials$                        ./admin/page_testimonials.php                           [NC,L]
RewriteRule     ^admin/testimonial-add$                     ./admin/page_testimonial_add.php                        [NC,L]
RewriteRule     ^admin/testimonial-edit/([0-9]+)$           ./admin/page_testimonial_edit.php?testimonial_id=$1     [NC,L]

RewriteRule     ^admin/posts$                               ./admin/page_posts.php                                  [NC,L]
RewriteRule     ^admin/post-add$                            ./admin/page_post_add.php                               [NC,L]
RewriteRule     ^admin/post-edit/([0-9]+)$                  ./admin/page_post_edit.php?post_id=$1                   [NC,L]

RewriteRule     ^admin/faqs$                                ./admin/page_faqs.php                                   [NC,L]
RewriteRule     ^admin/faq-add$                             ./admin/page_faq_add.php                                [NC,L]
RewriteRule     ^admin/faq-edit/([0-9]+)$                   ./admin/page_faq_edit.php?faq_id=$1                     [NC,L]

# -- frontend ---                       

RewriteRule     ^pricing$                                   page_pricing.php                                        [NC,L]
RewriteRule     ^locations$                                 page_locations.php                                      [NC,L]
RewriteRule     ^location/([a-z-]+)$                        page_location.php?slug=$1                               [NC,L]
RewriteRule     ^select-user$                               auth_select_user.php                                    [NC,L]
RewriteRule     ^properties$                                page_properties.php                                     [NC,L]
RewriteRule     ^property/([0-9]+)/([0-9a-z-]+)$            page_property.php?id=$1&slug=$2                         [NC,L]
RewriteRule     ^agents$                                    page_agents.php                                         [NC,L]
RewriteRule     ^agent/([0-9]+)/([0-9a-z-]+)$               page_agent.php?agent_id=$1&slug=$2                      [NC,L]
RewriteRule     ^post/([0-9]+)/([0-9a-z-]+)$                page_post.php?post_id=$1&post_slug=$2                   [NC,L]
RewriteRule     ^posts$                                     page_posts.php                                          [NC,L]
RewriteRule     ^faqs$                                      page_faqs.php                                           [NC,L]
RewriteRule     ^404$                                       page_404.php                                            [NC,L]

# -- customer ---                               

RewriteRule     ^customer-login$                            auth_customer_login.php                                 [NC,L]
RewriteRule     ^customer-register$                         auth_customer_register.php                              [NC,L]
RewriteRule     ^customer-forget$                           auth_customer_forget.php                                [NC,L]
RewriteRule     ^customer-dashboard$                        customer_dashboard.php                                  [NC,L]
RewriteRule     ^customer-profile$                          customer_profile.php                                    [NC,L]
RewriteRule     ^customer-wishlist$                         customer_wishlist.php                                   [NC,L]

RewriteRule     ^customer-messages$                         customer_messages.php                                   [NC,L]
RewriteRule     ^customer-message/([0-9]+)$                 customer_message.php?message_id=$1                      [NC,L]
RewriteRule     ^customer-message-add$                      customer_message_add.php                                [NC,L]

# -- agent ---                              

RewriteRule     ^agent-login$                               auth_agent_login.php                                    [NC,L]
RewriteRule     ^agent-register$                            auth_agent_register.php                                 [NC,L]
RewriteRule     ^agent-forget$                              auth_agent_forget.php                                   [NC,L]
RewriteRule     ^agent-dashboard$                           agent_dashboard.php                                     [NC,L]
RewriteRule     ^agent-profile$                             agent_profile.php                                       [NC,L]
RewriteRule     ^agent-orders$                              agent_orders.php                                        [NC,L]

RewriteRule     ^agent-messages$                            agent_messages.php                                      [NC,L]
RewriteRule     ^agent-message/([0-9]+)$                    agent_message.php?message_id=$1                         [NC,L]

RewriteRule     ^agent-payment$                             agent_payment.php                                       [NC,L]
RewriteRule     ^agent-payment-paypal-success/(.+)$         agent_payment_paypal_success.php?transaction_id=$1      [NC,L]
RewriteRule     ^agent-payment-paypal-cancel$               agent_payment_paypal_cancel.php                         [NC,L]
RewriteRule     ^agent-payment-stripe-success$              agent_payment_stripe_success.php                        [NC,L]
RewriteRule     ^agent-payment-stripe-cancel$               agent_payment_stripe_cancel.php                         [NC,L]

RewriteRule     ^agent-properties$                          agent_properties.php                                    [NC,L]
RewriteRule     ^agent-property-add$                        agent_property_add.php                                  [NC,L]
RewriteRule     ^agent-property-edit/([0-9]+)$              agent_property_edit.php?id=$1                           [NC,L]
RewriteRule     ^agent-property-photos/([0-9]+)$            agent_property_photos.php?id=$1                         [NC,L]
RewriteRule     ^agent-property-videos/([0-9]+)$            agent_property_videos.php?id=$1                         [NC,L]